html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: black;
}

body {
  --primary-orange: #ff5003;
  --transparent-orange: #ff4f032c;
  --secondary-blue: #1c2f45;
  --secondary-light-blue: #e8eaec;
  --secondary-extra-light-blue: #f3f4f5;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2em;
}

p {
  margin: 0;
  line-height: 1.5em;
}

a {
  color: var(--primary-orange);
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  transition: all 0.3s ease 0s;
}

a:hover {
  filter: brightness(1.3);
}

.button {
  padding: 16px 32px 12px;
  border-radius: 8px;
  background: var(--primary-orange);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  transition: all 0.3s ease 0s;
}

.button:hover {
  filter: brightness(1.3);
}

.app-wrapper {
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 450px 1fr;
}

.sidebar {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-blue);
  padding: 64px;
  color: white;
}

.sidebar__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: sticky;
  top: 64px;
}

.sidebar__inner__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar__inner__heading__logo-text {
  color: white;
  font-weight: 900;
  font-size: 2em;
}

.sidebar__inner__heading__logo-text span {
  color: var(--primary-orange);
}

.sidebar__inner__heading__location {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.sidebar__text--transparent {
  opacity: 50%;
}

.sidebar__text--italic {
  font-style: italic;
}

.sidebar__search {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
}

.sidebar__search__input {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
  padding: 0 16px;
}

.sidebar__search__input__inner {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  height: 100%;
}

.sidebar__search__button {
  background-color: var(--primary-orange);
  height: 100%;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.sidebar__social__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 32px;
  color: white;
}

.sidebar__social__wrapper__link {
  color: white;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.sidebar__social__wrapper__link:hover {
  color: var(--primary-orange);
  opacity: 1;
}

.content {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-extra-light-blue);
  padding: 64px;
  overflow: hidden;
}

.content__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content__inner__heading {
  color: var(--secondary-blue);
  font-size: 5em;
  font-weight: 800;
}

.content__inner__heading span {
  color: var(--primary-orange);
}

.content__inner__sub-heading {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5em;
}

.project-wrapper {
  gap: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.project-tile {
  background-color: white;
  border-radius: 16px;
  /* padding: 16px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /*max-height: 250px*/
}

.project-tile__header {
  border-radius: 16px;
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.project-tile__header--loading {
  cursor: default;
}

.project-tile__header:hover {
  transform: scale(1.03);
  background-color: #d6d6d6;
}

.project-tile__header--loading:hover {
  transform: scale(1);
  background-color: #fff;
}

.project-tile__header__inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}
.project-tile__header__inner__left-col {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.project-tile__header__inner__left-col__heading {
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-size: 1em;
}

.project-tile__header__inner__left-col__heading span {
  font-size: 0.9em;
}

.project-tile__header__inner__right-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 24px;
}

.project-tile__header__inner__right-col__commit-wrapper {
  display: flex;
  flex-direction: row;
  /*height: 24px;*/
}

.project-tile__header__inner__right-col__commit-wrapper__icon {
  background-color: var(--secondary-blue);
  padding: 0 8px;
  border-radius: 16px 0 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.project-tile__header__inner__right-col__commit-wrapper__text {
  background-color: var(--secondary-light-blue);
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 100%;
  font-size: 0.8em;
}

.chart-container {
  position: relative;
  padding: 16px;
  padding-top: 32;
  width: 100%;
  height: 150px;
}

.project-modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.project-modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 25%);
  z-index: 1;
}

.project-modal {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  max-width: 1000px;
  max-height: 800px;
  z-index: 2;
  position: relative;
}

.project-modal__close {
  background: var(--secondary-blue);
  width: 32px;
  height: 32px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  color: white;
  position: absolute;
  right: -8px;
  top: -8px;
  cursor: pointer;
}

.project-modal__close:hover {
  filter: brightness(1.2);
}

.project-modal__inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.project-modal__header {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  gap: 16px;
}

.project-modal__header__left-col,
.project-modal__header__right-col {
  width: 100%;
  height: 100%;
}

.project-modal__header__left-col__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between;
}

.project-modal__header__left-col__inner__top-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.project-modal__header__left-col__inner__top-row svg {
  width: 60px;
  height: auto;
}

.project-modal__header__left-col__inner__top-row__heading {
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-size: 2em;
  line-height: 0.8em;
}

.project-modal__header__left-col__inner__top-row__heading span {
  font-size: 0.6em;
}

.project-modal__header__left-col__inner__bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.project-modal__header__left-col__inner__bottom-row__commit-wrapper {
  display: flex;
  flex-direction: row;
  /*height: 24px;*/
}
.project-modal__header__left-col__inner__bottom-row__commit-wrapper__icon {
  background-color: var(--secondary-blue);
  padding: 8px 16px;
  border-radius: 8px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.project-modal__header__left-col__inner__bottom-row__commit-wrapper__text {
  background-color: var(--secondary-light-blue);
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  height: 100%;
  font-size: 0.8em;
}

.project-modal__commit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-modal__commit-message {
  padding-bottom: 16px;
  border-bottom: 1px solid #e8eaec;
}

.project-modal__header__right-col .chart-container {
  padding: 0 16px;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .app-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .sidebar {
    padding: 24px;
  }

  .sidebar__inner {
    gap: 16px;
    position: relative;
    top: unset;
  }

  .sidebar__inner__heading__logo-text br {
    display: none;
  }

  .content {
    padding: 24px;
  }

  .content__inner__heading {
    font-size: 4em;
  }

  .project-wrapper {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 769px) {
  .project-modal__header {
    display: flex;
    flex-direction: column;
  }
  .project-modal__header__right-col .chart-container {
    padding: 16px 0;
  }
}
